<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keyboard Inventory</title>
    <link rel="icon" type="image/x-icon" href="/icons/package.svg">
    <link rel="stylesheet" href="/reset.css" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include("components/sidebar") %>
    <div id="main">
      <%- include("components/searchbar") %>
      <h1><%= items.length %> result(s) - "<%= term %>"</h1>
      <div id="items-display">
        <% for(item of items) { %>
          <%- include("components/item", {item: item}) %>
        <% } %>
      </div>
    </div>
  </body>
</html>
